.cart-summary-container {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;
  text-align: center;
  background-color: white;
}

.order-total {
  font-family: 'Roboto';
  font-size: 20px;
  color: #171f46;
  margin-bottom: 8px;
}

.items-count {
  font-family: 'Roboto';
  font-size: 14px;
  color: #3e4c59;
  margin-bottom: 16px;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto';
}

.checkout-btn-center {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}